<div class="row">
    <div class="col">
      <div
        class="d-flex justify-content-center align-items-center input-group p-4"
      >
        <input
          [(ngModel)]="searchText"
          type="text"
          class="form-control rounded-start text-black bg-white"
          placeholder="Wyszukaj..."
        />
        <button
          (click)="onSearch()"
          class="btn text-uppercase btn-primary input-group-append"
          type="button"
        >
          <i
            class="fas fa-search"
            style="font-size: 1em; color: currentColor;"
          ></i>
        </button>
      </div>
    </div>
  </div>