<div class="m-auto py-5" style="max-width: 800px;" >
  <div class="card bg-secondary" >
    <div class="card-header" id="card-header">
      <h4 class="card-title">Przenieś roślinę do innej działki</h4>
      <app-error-msg [errorMsg]="errorMsg" [message]="message"></app-error-msg>
    </div>
    <div class="card-body">
      <form class="my-2 d-flex flex-column">
        <div class="row gy-4 mb-2">
          <div class="col-md-6">
            <div><img [src]="getRoslinaObraz()" alt="..." class="rounded img-fluid w-100"></div>
          </div>
          <div class="col-md-6 d-md-flex align-items-md-center">
            <div>
              <h3 class="roslina-nazwa-color">{{zasadzonaRoslina?.roslina?.nazwa}}</h3>
              <h5 class="roslina-nazwa-lacinska-color">{{zasadzonaRoslina?.roslina?.nazwaLacinska}}</h5>
            </div>
          </div>
        </div>

        <div>
          <label class="form-label mb-2">Działka:</label>

          <select
          [(ngModel)]="request.numerDzialki"
          (ngModelChange)="onDzialkaChange($event)"
          name="wybranaDzialka" class="form-select text-black mb-2">
            <option value="" selected disabled>Wybierz działkę...</option>
            <option *ngFor="let d of dzialki" [ngValue]="d.numer" class="text-black">
              [{{ d.numer }}] - {{ d.nazwa }}
            </option>
          </select>

        </div>

        <label class="form-label">Pozycja na działce:</label>
        <div *ngIf="mode !== DzialkaModes.BrakEdycji" class="mb-2">
          <h4 class="text-primary">Tryb edycji:
            <span *ngIf="mode === DzialkaModes.EditRoslinaKafelki" class="text-danger">Przypisanie kafelków</span>
            <span *ngIf="mode === DzialkaModes.EditRoslinaPozycja" class="text-danger">Przypisanie pozycji</span>

          </h4>

          <p *ngIf="mode === DzialkaModes.EditRoslinaKafelki" >Kliknij na wolny kafelek, aby go dodać lub usunąć z rośliny. </p>
          <p *ngIf="mode === DzialkaModes.EditRoslinaPozycja" >Kliknij na wolny kafelek, aby postawić na nim roślinę.</p>
          <div class="btn-group">
            <button (click)="changeEditMode(DzialkaModes.EditRoslinaPozycja)" class="btn btn-info">Zmień pozycję rośliny</button>
            <button (click)="changeEditMode(DzialkaModes.EditRoslinaKafelki)" class="btn btn-primary">Zmień kafelki należące do rośliny</button>
          </div>
        </div>


        <app-dzialka-tile-picker
        [roslina]="zasadzonaRoslina?.roslina"
        [tiles]="tiles"
        [request]="request"
        [isMove]="true"
        [mode]="mode"
        >

        </app-dzialka-tile-picker>

        <button (click)="moveRoslinaToOtherDzialka()" class="btn btn-primary text-uppercase" type="submit">Dodaj roślinę</button>
      </form>
    </div>
  </div>
</div>
