  <!-- Start: Navbar Centered Links -->
  <nav class="navbar navbar-expand-md py-3" style="background: var(--bs-secondary);">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="index.html"><img class="d-flex justify-content-center align-items-center me-2 filter" src="ico.svg" alt="a" width="48" height="48" style="background: var(--bs-primary);border-radius: 5px;"><span style="color: #ffffff;">Wirtualny Ogród Yukka</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-3">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a [routerLink]="'rosliny'" routerLinkActive="active" class="nav-link">Przeglądaj katalog</a></li>
                <li class="nav-item"><a routerLinkActive="active" class="nav-link" >Mój ogród</a></li>
                <li class="nav-item"><a routerLinkActive="active" class="nav-link" >Społeczność</a></li>
            </ul>
            <button *ngIf="!isLogged()" (click)="toLogin()" class="btn btn-secondary" type="button" style="background: var(--bs-primary);border-color: var(--bs-primary);">Zaloguj się</button>
            <button *ngIf="isLogged()" (click)="logout()" class="btn btn-secondary" type="button" style="background: var(--bs-primary);border-color: var(--bs-primary);">Wyloguj się</button></div>
    </div>

</nav>
<!-- End: Navbar Centered Links -->
