<section>
  <div class="container py-4">
      <app-breadcrumb></app-breadcrumb>
      <div class="row gy-4">
          <div class="col-md-6">
              <div style="max-height: 700px; overflow: auto;">
                <img [src]="getRoslinaObraz()" alt="..." class="rounded img-fluid w-100">
              </div>
          </div>
          <div class="col-md-6 d-md-flex align-items-md-center">
            <div>
              <h2 class="text-primary fw-bold text-uppercase">{{roslina?.nazwa}}</h2>
                <h5 class="text-secondary fw-bold text-uppercase">{{roslina?.nazwaLacinska}}</h5>

                <div *ngIf="isPracownik() || isAutor()" class="btn-group">
                    <a [routerLink]="goToUpdateRoslina()" class="btn btn-warning text-uppercase">edytuj</a>
                    <a [routerLink]="goToUploadRoslinaObraz()" class="btn btn-info text-uppercase">zmień obraz</a>
                    <button (click)="removeRoslina()" class="btn btn-danger text-uppercase">usuń</button>
                </div>

                <div *ngIf="isLoggedIn()" class="mt-2">
                  <a 
                  [routerLink]="goToAddRoslinaToDzialka()"

                  
                  class="btn btn-primary text-uppercase">Dodaj do działki</a>
                </div>

            </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="card bg-secondary border-5 border-primary-subtle mt-2" >
          <div class="card-body">
              <p class="my-3 fs-4 text-white">{{roslina?.opis}}</p>
          </div>
      </div>
  </div>
  <app-roslina-cechy-container
  [roslina]="roslina">

  </app-roslina-cechy-container>
</section>
