<section>
  <div class="container py-4">
      <app-breadcrumb></app-breadcrumb>
      <div class="row gy-4">
          <div class="col-md-6">
              <div><img [src]="getRoslinaObraz()" alt="..." class="rounded img-fluid w-100"></div>
          </div>
          <div class="col-md-6 d-md-flex align-items-md-center">
              <div>
                <h3 class="roslina-nazwa-color">{{roslina?.nazwa}}</h3>
                  <h5 class="roslina-nazwa-lacinska-color">{{roslina?.nazwaLacinska}}</h5>


                  <div *ngIf="isAdminOrPracownik" class="btn-group">
                      <button class="btn btn-warning text-uppercase">edytuj</button>
                      <button class="btn btn-danger text-uppercase">usuń</button>
                  </div>


              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="card" style="background: var(--bs-secondary);">
          <div class="card-body">
              <p class="my-3 roslina-opis">{{roslina?.opis}}</p>
          </div>
      </div>
  </div>
  <div class="container properties-container p-4 my-5" id="properties">
      <div *ngFor="let pair of getRoslinaWlasciwoscPary(); let index = index; trackBy: trackByIndex" class="row justify-content-between py-2 my-2">
        <div class="col property-item mx-2">
          <span class="property-name">{{ pair[0].name }}:</span>
          <span class="property-value">{{ pair[0].value }}</span>
        </div>
        <div *ngIf="pair[1]" class="col property-item mx-2">
          <span class="property-name">{{ pair[1].name }}:</span>
          <span class="property-value">{{ pair[1].value }}</span>
        </div>
      </div>
  </div>
</section>
