<a (click)="goToRozmowa()" class="link-underline link-underline-opacity-0 link-light">
  <div class="d-flex align-items-lg-center card-header my-2">
    <img [src]="getAvatar()" class="rounded-circle bg-white flex-shrink-0 me-3 fit-cover"
    width="50" height="50">
      <div class="w-100">
          <div class="hstack gap-1 justify-content-between w-100">
            <h4>{{ selectedUzyt?.nazwa }}</h4>
          </div>

          <ng-container *ngIf="rozmowa.aktywna; else zaproszenie">
            <div class="text-muted">
              <i class="fas fa-clock me-1"></i>
              <span>Ostatnia wiadomość: {{ rozmowa.ostatnioAktualizowana }}</span>
            </div>
          </ng-container>

          <ng-template #zaproszenie>
            <h5 class="text-break">Zaproszenie do rozmowy!</h5>
            <div class="hstack gap-2">
              <button (click)="acceptRozmowaPrywatna()" class="btn btn-primary">Akceptuj</button>
              <button (click)="rejectRozmowaPrywatna()" class="btn btn-danger">Odrzuć</button>
            </div>
          </ng-template>

      </div>
  </div>
</a>
