<div class="modal fade" #pickerModal tabindex="-1" aria-labelledby="colorPickerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-primary">
      <div class="modal-header">
        <h5 class="modal-title" id="colorPickerModalLabel">Zmiana wyświetlania</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closePickerModal()"></button>
      </div>
      <app-error-msg [errorMsg]="errorMsg"></app-error-msg>
      <div class="modal-body">
        <app-wyswietlanie-rosliny-opcje
        [wyswietlanie]="selectedRoslina?.wyswietlanie"
        [selectedRoslina]="selectedRoslina"
        (wyswietlanieChange)="onWyswietlanieChange($event)"
        ></app-wyswietlanie-rosliny-opcje>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="closePickerModal()">Anuluj</button>
        <button type="button" class="btn btn-secondary" (click)="confirm()">Zapisz</button>
      </div>
    </div>
  </div>
</div>
