<div class="row gx-2 gy-2 justify-content-center align-items-center">
    <div class="col d-flex justify-content-center align-items-center">
        <a  [routerLink]="'/social/posty'" routerLinkActive="active" 
        class="btn btn-outline-primary btn-outline-custom fw-medium" role="button">Posty</a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
        <a [routerLink]="'/social/uzytkownicy'" routerLinkActive="active" 
        class="btn btn-outline-primary btn-outline-custom fw-medium" role="button">Użytkownicy</a>
    </div>
</div>