<div class="container border rounded border-2 border-primary-subtle bg-primary-subtle  p-4 my-5" id="properties">
  <div *ngIf="getRoslinaCechaPary().length === 0" class="row justify-content-center py-2 my-2">
    <span class="text-uppercase text-primary fw-semibold fs-4 text-center">Brak cech</span>
  </div>
  <div *ngFor="let pair of getRoslinaCechaPary(); let index = index; trackBy: trackByIndex" class="row justify-content-between py-2 my-2">
    <div class="col d-flex justify-content-between align-items-center mx-2" style="border-bottom: 1px dashed rgb(0,0,0) ;">
      <span class="text-uppercase text-primary fw-semibold fs-4 text-start">{{ pair[0].name }}:</span>
      <span class="text-dark fs-5 text-end">{{ pair[0].value }}</span>
    </div>
    <div *ngIf="pair[1]" class="col d-flex justify-content-between align-items-center mx-2" style="border-bottom: 1px dashed rgb(0,0,0) ;">
      <span class="text-uppercase text-primary fw-semibold fs-4 text-start">{{ pair[1].name }}:</span>
      <span class="text-dark fs-5 text-end">{{ pair[1].value }}</span>
    </div>
  </div>
</div>
