<div>
  <label class="form-label mb-2">Tryb wyświetlania kafelków:</label>
  <select
  [(ngModel)]="wyswietlanie"
  (change)="onWyswietlanieChange($event)"
  name="trybWyswietlania"
  class="form-select text-black mb-2">
    <option [ngValue]="wyswietlanieOpcje.KOLOR" class="text-black">Wyświetlaj tylko kolor</option>
    <option *ngIf="!selectedRoslina || (selectedRoslina && selectedRoslina?.tekstura)"
    [ngValue]="wyswietlanieOpcje.TEKSTURA" class="text-black">Wyświetlaj tylko teksturę</option>
    <option [ngValue]="wyswietlanieOpcje.TEKSTURA_KOLOR" class="text-black"  selected>Wyświetlaj teksturę z kolorem</option>
  </select>
</div>
