/* You can add global styles to this file, and also import other style files */
@import "styles/bs-theme-overrides.css";
@import "styles/Navbar-Centered-Links-icons.css";

html, body {
  height: 100%;
}
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e5ffee;
  --text: #040316;
}



.scrollable-content::-webkit-scrollbar {
  display: none;
}

.scrollable-content {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}


.search-results {
  height: 100%;
}

.limit-to-3-lines {
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.komentarz-avatar {
  margin-right: 0.25rem;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.komentarz-username {
  font-weight: 500;
}

.komentarz-date {
  color: #9da1a5;
  font-size: 0.875rem;
}

.komentarz-option {
  color: var(--bs-info-rgb);
  text-decoration: none;
}

.komentarz-option:hover {
  text-decoration: underline;
}


.komentarz-border {
  border-top: 1px solid var(--bs-primary-border-subtle);
  border-bottom: 1px solid var(--bs-primary-border-subtle);
}

.fit-cover {
  object-fit: cover;
}

.form-control::placeholder {
  color: gray;
}

