/* You can add global styles to this file, and also import other style files */
@import "../../Projekt bootstrap/assets/css/Articles-Cards-images.css";
@import "../../Projekt bootstrap/assets/css/bs-theme-overrides.css";
@import "../../Projekt bootstrap/assets/css/Lightbox-Gallery-baguetteBox.min.css";
@import "../../Projekt bootstrap/assets/css/Navbar-Centered-Links-icons.css";
@import "../../Projekt bootstrap/assets/css/untitled.css";

/*@import "@fortawesome/fontawesome-free";*/
@import "@fortawesome/fontawesome-free/css/all.min.css";

html, body { height: 100%;

  /* zaimportuj potem poprawnie
  --background: #e5ffee;
  --primary: #086030;
  --secondary: #25c86e;
  --accent: #19be9d;
*/
}
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: #e5ffee;
  --text: #040316;


}



.scrollable-content::-webkit-scrollbar {
  display: none;
}

.scrollable-content {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}


.search-results {
  height: 100%;
}




.komentarz-avatar {
  margin-right: 0.25rem;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.komentarz-username {
  font-weight: 500;
}

.komentarz-date {
  color: #9da1a5;
  font-size: 0.875rem;
}

.komentarz-option {
  color: var(--bs-info-rgb);
  text-decoration: none;
}

.komentarz-option:hover {
  text-decoration: underline;
}


.komentarz-border {
  border-top: 1px solid var(--bs-primary-border-subtle);
  border-bottom: 1px solid var(--bs-primary-border-subtle);
}


