
<section class="mx-1" style="--bs-body-bg: rgba(255,255,255,0);">
  <!-- Start: 1 Row 2 Columns -->
  <div class="container" style="max-width: 800px;">
    <div class="row gx-3 gy-3 justify-content-center align-items-start">
      <div class="col-lg-3 d-flex justify-content-center flex-column">
        <app-edycja-nav></app-edycja-nav>
      </div>
      <div class="col-auto col-lg-8">
        <div class="card mb-5" style="background: var(--bs-secondary);">
          <div class="card-body p-sm-5">
            <app-error-msg [errorMsg]="errorMsg" [message]="message"></app-error-msg>
            <h3 class="text-center mb-4">Informacje profilowe</h3>
            <form>
              <div class="mb-3">
                <input [(ngModel)]="request.imie"
                class="bg-light text-black form-control" type="text"
                  name="imie" placeholder="Imię">
              </div>
              <div class="mb-3">
                <input [(ngModel)]="request.miasto"
                class="bg-light text-black form-control" type="text"
                  name="miasto" placeholder="Miasto">
                </div>
              <div class="mb-3">
                <input [(ngModel)]="request.miejsceZamieszkania"
                class="bg-light text-black form-control" type="text"
                  name="miejsce-zamieszkania"
                  placeholder="Miejsce zamieszkania">
              </div>
              <div class="mb-3">
                <textarea [(ngModel)]="request.opis"
                class="bg-light text-black form-control"
                  name="opis" rows="6"
                  placeholder="Kilka słów o sobie">
                </textarea>
              </div>
              <div>
                <button (click)="editProfil()"
                class="btn btn-primary d-block w-100"
                  type="submit">Zapisz
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End: 1 Row 2 Columns -->
</section>
