@if (!this.isUser() && !isServer) {
  <section class="position-relative py-4 py-xl-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h1 class="text-primary">Zaloguj się</h1>
            </div>
            <hr>
            <app-error-msg [errorMsg]="errorMsg"></app-error-msg>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5"
                        style="border-color: var(--bs-secondary);background: var(--bs-primary-border-subtle);">
                        <div class="card-body d-flex flex-column align-items-center">
                          <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
                            <i class="fas fa-user"></i>
                          </div>
                          <form class="text-center" id="login-form" method="post">
                              <div class="mb-3">
                                  <input [(ngModel)]="authRequest.email" class="form-control text-black"
                                  type="email" name="Email" placeholder="login albo email">
                              </div>
                              <div class="mb-3">
                                  <input [(ngModel)]="authRequest.haslo" class="form-control text-black mb-2"
                                  type="password" name="password" placeholder="haslo">
                                  <a [routerLink]="'/zmiana-hasla-email'"  class="link">Zapomniałeś hasła?</a>
                              </div>

                              <div class="mb-3">
                                  <button (click)="login()" class="btn btn-primary d-block w-100" type="submit">Login</button>
                              </div>

                              <div class="mb-3">
                                <label class="form-label text-black">Nie masz jeszcze konta?</label>
                                <a  (click)="register()" class="btn btn-primary d-block w-100" role="button">Zarejestruj się</a>
                              </div>

                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}
@else {
  <section class="position-relative py-4 py-xl-5">
    <div class="container">
      <app-loading [isLoading]="true"></app-loading>
    </div>
  </section>
}
