<section class=" " style="--bs-body-bg: rgba(255, 255, 255, 0);">
  <div
    class="container w-100 py-3 my-3"
    style="background: transparent; border-radius: 5px; max-width: 800px;"
  >
  <app-social-nav></app-social-nav>
  <div *ngIf="isAdmin()">
    <a [routerLink]="'dodaj'" class="btn btn-primary mt-2" type="button">Dodaj pracownika</a>
  </div>

  <app-search
    [searchText]="searchText"
    (searchEvent)="onSearch($event)">
  </app-search>
  </div>

  <div
    class="container w-100 search-results"
    style="background: transparent; border-radius: 5px; max-width: 800px;"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()"
    *ngIf="uzytResponse"
  >
    <app-uzytkownik-card
      *ngFor="let uzyt of uzytResponse?.content"
      [uzyt]="uzyt"
    >
    </app-uzytkownik-card>

    <app-loading [isLoading]="isLoading"></app-loading>
  </div>
</section>
