<app-loading class="p-2" [isLoading]="isLoading"></app-loading>
<section class="mx-1" *ngIf="!isLoading">
  <div class="container p-2 mt-2 bg-secondary" style="border-radius: 5px;max-width: 800px;">
    <div class="row gx-5 gy-3 d-flex justify-content-center align-items-center py-3">
      <div class="gap-1 col-auto d-flex flex-column avatar-info">
        <img [src]="getAvatar()" class="rounded-circle mb-2 border border-3 border-success-subtle mr-3" width="250" height="250" alt="">
        <ng-container *ngIf="isCurrentUser() else wyslijWiadomosc">
          <a [routerLink]="['edycja', 'profil']" class="btn btn-primary btn-custom" role="button">Edytuj profil</a>
        </ng-container>

        <div class="btn-group gap-1 d-flex align-items-center justify-content-center">

          <ng-container *ngIf="isPracownikOrAdmin() && !isCurrentUser()">
            <app-ban-button
            [zglaszany]="uzyt.nazwa"
            [zbanowany]="uzyt.ban">
            </app-ban-button>

            <app-usun-konto-button
            [usuwany]="uzyt.nazwa">
            </app-usun-konto-button>
          </ng-container>

          <app-zgloszenie-button *ngIf="!isCurrentUser()"
          [typPowiadomienia]="typPowiadomienia.ZGLOSZENIE"
          [zglaszany]="uzyt.nazwa"
          [odnosnik]="uzyt.nazwa">
          </app-zgloszenie-button>
          <app-blok-button *ngIf="!isCurrentUser()"
          [odbiorcaNazwa]="uzyt.nazwa"
          [zablokowany]="isBlokowany()"
          
          >
          </app-blok-button>
        </div>

        <ng-template #wyslijWiadomosc>
          <ng-container *ngIf="uzyt.aktywowany && !isBlok()">
            <ng-container *ngIf="isZaproszony() else wyslijZaproszenie">
              <a [routerLink]="['rozmowy', this.uzyt.nazwa]" class="btn btn-primary btn-custom" role="button">Wyślij wiadomość</a>
            </ng-container>
            <ng-template #wyslijZaproszenie>
              <a *ngIf="!zaproszenieWyslane; else zaproszenieWyslaneText"
              (click)="zaprosDoRozmowaPrywatna()" class="btn btn-primary btn-custom" role="button">Zaproś</a>
              <ng-template #zaproszenieWyslaneText>
                <a class="btn btn-secondary btn-custom" role="button">Zaproszenie Wysłane!</a>
              </ng-template>
            </ng-template>
          </ng-container>

        </ng-template>
    </div>
      <div class="col-auto col-md-7">
          <h1 id="username-heading">{{ uzyt.nazwa }}</h1>
            <ng-container *ngIf="isProfilUzytkownikAdmin(); else pracownik">
              <h5 class="text-info fw-bold">Admin</h5>
            </ng-container>
            <ng-template #pracownik>
              <h5 *ngIf="isProfilUzytkownikPracownik()" class="text-info fw-bold">Pracownik</h5>
            </ng-template>
            <ng-container *ngIf="!uzyt.aktywowany">
              <h5 class="text-danger fw-bold">Konto nieaktywne</h5>
            </ng-container>
            <ng-container *ngIf="uzyt.ban">
              <h5 class="text-danger fw-bold">Konto zbanowane do : {{ uzyt.banDo }}</h5>
            </ng-container>
            <ng-container *ngIf="!isBlokowany() && !isCurrentUser()">
              <h5 class="text-danger fw-bold">Blokuje ciebie</h5>
            </ng-container>
            



          <ul class="list-unstyled fs-5 list-custom">
              <li id="list-username" *ngIf="uzyt.imie">Imię:&nbsp;
                <span class="text-break">{{ uzyt.imie }}</span>
              </li>
              <li id="list-other-city" *ngIf="uzyt.miasto">Miasto:&nbsp;
                <span class="text-break">{{ uzyt.miasto }}</span>
              </li>
              <li id="list-other-home" *ngIf="uzyt.miejsceZamieszkania">Miejsce zamieszkania:&nbsp;
                <span class="text-break">{{ uzyt.miejsceZamieszkania }}</span>
              </li>
          </ul>
      </div>
    </div>
    <div class="row gx-2 gy-2 justify-content-center align-items-center">
      <div *ngIf="uzyt.ustawienia?.ogrodPokaz" class="col d-flex justify-content-center align-items-center">
        <a [routerLink]="['/ogrod', uzyt.nazwa]" class="btn btn-outline-primary btn-outline-custom fw-medium" role="button">Ogród</a>
      </div>
      <div *ngIf="isCurrentUser() || isPracownikOrAdmin()" class="col d-flex justify-content-center align-items-center">
        <a [routerLink]="'posty'" class="btn btn-outline-primary btn-outline-custom fw-medium" role="button">Posty</a>
      </div>
      <div *ngIf="isCurrentUser() || isPracownikOrAdmin()" class="col d-flex justify-content-center align-items-center">
        <a [routerLink]="'komentarze'" class="btn btn-outline-primary btn-outline-custom fw-medium" role="button">Komentarze</a>
      </div>
      <div *ngIf="isCurrentUser()" class="col d-flex justify-content-center align-items-center">
        <a [routerLink]="'rozmowy'" class="btn btn-outline-primary btn-outline-custom fw-medium" role="button">Rozmowy prywatne</a>
      </div>
    </div>

    <div *ngIf="uzyt.ustawienia?.statystykiProfilu && uzyt.aktywowany" class="row gy-4 row-cols-2 row-cols-md-5 statystyki">
      <div class="col">
          <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon lg">
              <i class="fas fa-seedling"></i>
          </div>
          <div class="px-3">
              <h2 class="fw-bold mb-0">{{ statystyki.rosliny }}</h2>
              <p class="mb-0">Własnych roślin</p>
          </div>
      </div>
      <div class="col">
          <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon lg">
              <i class="fas fa-comment-alt"></i>
          </div>
          <div class="px-3">
              <h2 class="fw-bold mb-0">{{ statystyki.komentarze }}</h2>
              <p class="mb-0">Komentarzy</p>
          </div>
      </div>
      <div class="col">
          <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon lg">
              <i class="fas fa-signs-post fa-mailbox"></i>
          </div>
          <div class="px-3">
              <h2 class="fw-bold mb-0">{{ statystyki.posty }}</h2>
              <p class="mb-0">Postów</p>
          </div>
      </div>
      <div class="col">
          <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon lg">
              <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="px-3">
              <h2 class="fw-bold mb-0">{{ getOcenyPozytywne() }}</h2>
              <p class="mb-0">Oceny pozytywne</p>
          </div>
      </div>
      <div class="col">
        <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon lg">
            <i class="fas fa-thumbs-down"></i>
        </div>
        <div class="px-3">
            <h2 class="fw-bold mb-0">{{ getOcenyNegatywne() }}</h2>
            <p class="mb-0">Oceny negatywne</p>
        </div>
    </div>
    </div>


    <div class="row p-3">
      <div class="col">
          <h2 class="display-6 border-ridge">O mnie:</h2>

            <p class="fs-6" *ngIf="uzyt.opis; else brakOpisu">{{ uzyt.opis }}</p>


          <ng-template #brakOpisu>
            <p class="fs-6">Brak opisu</p>
          </ng-template>



      </div>
    </div>
  </div>
</section>
