<a class="link-underline link-underline-opacity-0 link-light" >
  <div class="d-flex align-items-lg-center card-header my-2">
    <div class="rounded-circle bg-danger flex-shrink-0 ms-1 me-2" style="width: 10px; height: 10px;"></div>
    <img class="rounded-circle bg-white flex-shrink-0 me-3 fit-cover" width="50" height="50" src="">
      <div class="w-100">
          <div class="hstack gap-1 justify-content-between w-100">
              <div>
                  <p class="fw-normal mb-0" style="overflow: hidden;max-height: 6em;text-overflow: ellipsis;">
                    <span class="fw-bold">Adam Gessler</span>
                    &nbsp;odpowiedział na twój komentarz dasdasds adasd asd asd asda sdasdasdas asdasdasd asdasd asdasd pod postem:&nbsp;
                    <span class="fw-bold">Jakiś post</span>
                  </p>
              </div>

              <div class="dropstart">
                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  &nbsp;<i class="fas fa-ellipsis-v fs-4"></i>
                </button>
                <ul class="dropdown-menu" style="background: var(--bs-primary);max-width: 250px;">
                  <li><button class="dropdown-item" type="button">Przejdź do komentarza</button></li>
                  <li><button class="dropdown-item" type="button">Usuń powiadomienie</button></li>
                </ul>
              </div>

              <!--
               <div class="dropstart justify-content-center align-items-center d-flex">
                <button class="btn justify-content-center align-items-center d-flex"
                  type="button"  data-bs-toggle="dropdown" aria-expanded="false">
                  &nbsp;<i class="fas fa-ellipsis-v fs-1"></i>
                </button>
                <div class="dropdown-menu"  style="background: var(--bs-primary);max-width: 250px;">
                  <a class="dropdown-item bg-transparent" style="word-wrap: break-word;">Przejdź do komentarza</a>
                  <a class="dropdown-item bg-transparent">Usuń powiadomienie</a>
                </div>
              </div>
              -->

          </div>
          <div class="text-muted">
            <i class="fas fa-clock me-1"></i><span>10 minut temu</span>
          </div>
      </div>
  </div>
</a>
