<div class="d-flex flex-column mt-1">
  <div class="flex-grow-1 flex-shrink-1">
    <div class="d-flex justify-content-between align-items-center mb-2">

      <div class="d-flex">
        <img (click)="goToProfil()"
            [src]="getKomentarzAvatar()" class="komentarz-avatar" alt="avatar"
            width="50" height="50">
        <div>
          <span class="fw-medium mb-0">{{komentarz.uzytkownikNazwa}}

            <ng-container *ngIf="komentarz.edytowany">
              <span class="komentarz-date">&nbsp; (edytowany)</span>
            </ng-container>
          </span>
          <div class="text-muted">
            <i class="fas fa-clock me-1"></i>
            <span>{{komentarz.dataUtworzenia}}</span>
          </div>

        </div>
      </div>
    </div>
    <ng-container *ngIf="komentarz.odpowiadaKomentarzowi">
        <a class="komentarz-option">{{ komentarz.odpowiadaKomentarzowi.uzytkownikNazwa  }}:</a>
    </ng-container>
    <ng-container>
      <p class="text-break small">{{ komentarz.opis }}</p>
      <div class="bg-secondary" >
        <div *ngIf="komentarz.obraz">
          <img
            class="rounded img-fluid mb-3"
            [alt]="'Obraz komentarz'"
            [src]="getKomentarzObraz()"
            style="max-width: 100%; height: auto; max-height: 250px;"
            loading="lazy">
        </div>
      </div>
    </ng-container>

    <div class="hstack justify-content-between p-1 komentarz-border">
        <div class="hstack gap-3">
          <a class="komentarz-option justify-content-center">
            <i class="fas fa-thumbs-up text-primary"></i><span>{{ komentarz.ocenyLubi }}</span>
          </a>
          <a class="komentarz-option">
            <i class="fas fa-thumbs-down text-danger"></i>&nbsp;{{ komentarz.ocenyNieLubi }}
          </a>

        </div>
        <ng-container *ngIf="komentarz.post">
          <a (click)="goToPost()" class="komentarz-option">
            <i class="fas fa-chevron-up fa-xs"></i>
            <span class="small">&nbsp; {{ komentarz.post.tytul }}</span>
          </a>
        </ng-container>
    </div>

  </div>

</div>
