<nav class="d-flex justify-content-center align-items-lg-center ">
  <ul class="pagination pagination-lg ">
    <li class="page-item">
      <a (click)="goToFirstPage()"
        class="page-link link-primary"
        aria-label="Previous"
        href="javascript:void(0)"
        [class.disabled]="page === 1">
        <span aria-hidden="true"><<</span>
      </a>
    </li>
    <li class="page-item">
      <a (click)="goToPreviousPage()"
        class="page-link link-primary"
        aria-label="Previous"
        href="javascript:void(0)"
        [class.disabled]="page === 1">
        <
      </a>
    </li>

    <li class="page-item" *ngFor="let pageIndex of pages">
      <a
        (click)="goToPage(pageIndex)"
        class="page-link link-primary"
        [class.active]="page === pageIndex"
        href="javascript:void(0)">{{ pageIndex }}</a>
    </li>
    <li class="page-item">
      <a (click)="goToNextPage()"
        class="page-link link-primary"
        href="javascript:void(0)"
        aria-label="Next"
        [class.disabled]="isLastPage">
        >
      </a>
    </li>
    <li class="page-item">
      <a (click)="goToLastPage()"
        class="page-link  link-primary"
        href="javascript:void(0)"
        aria-label="Next"
        [class.disabled]="isLastPage">
        <span aria-hidden="true">>></span>
      </a>
    </li>
  </ul>
</nav>
