<section>
  <div class="container">
      <h2 class="text-uppercase text-center text-primary">Katalog RoŚlin</h2>
      <div class="row">
          <div class="col"></div>
      </div>
  </div><!-- Start: Articles Cards -->
  <div class="container p-2">
      <div class="row mb-5">
          <div class="col-md-8 col-xl-6 text-center mx-auto">
              <p class="w-lg-50 text-primary">Tutaj będą opcje wyszukiwania w katalogu</p>
          </div>
      </div>

      <div class="row gy-4 row-cols-5 row-cols-md-2 row-cols-xl-3 d-flex justify-content-center">

        <app-roslina-card
          class="col-auto col-sm-8 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-stretch" style="min-width: 25%;"
          *ngFor="let roslina of roslinaResponse?.content"
          [roslina]="roslina"
          >
        </app-roslina-card>

      </div>
  </div><!-- End: Articles Cards -->
</section>
<nav class="d-flex justify-content-center align-items-lg-center">
  <ul class="pagination pagination-lg">
      <li class="page-item">
        <a (click)="goToFirstPage()"
          class="page-link"
          aria-label="Previous"
          href="javascript:void(0)"
          [class.disabled]="page === 1">
          <span aria-hidden="true"><<</span>
        </a>
      </li>
      <li class="page-item">
        <a (click)="goToPreviousPage()"
          class="page-link"
          aria-label="Previous"
          href="javascript:void(0)"
          [class.disabled]="page === 1">
        <
        </a>
      </li>

      <li class="page-item" *ngFor="let pageIndex of pages">
        <a
          (click)="gotToPage(pageIndex)"
          class="page-link"
          [class.active]="page === pageIndex"
          href="javascript:void(0)"
        >{{ pageIndex }}</a>
      </li>
      <li class="page-item">
        <a (click)="goToNextPage()"
          class="page-link"
          href="javascript:void(0)"
          aria-label="Next"
          [class.disabled]="isLastPage">
          >
        </a>
      </li>
      <li class="page-item">
        <a (click)="goToLastPage()"
          class="page-link"
          href="javascript:void(0)"
          aria-label="Next"
          [class.disabled]="isLastPage">
          <span aria-hidden="true">>></span>
        </a>
      </li>
  </ul>
</nav>
