
<section class="mx-1">
  <div class="container" style="max-width: 800px;">
    <ng-container *ngIf="post">
      <app-post-card class="my-5" [post]="post"></app-post-card>
    </ng-container>
  </div>
  <div class="container" style="max-width: 800px;background: transparent;">
      <!--Dodaj komentarz-->
    <div class="row d-flex justify-content-center my-3">
          <div class="col col-auto col-12">
            <app-add-komentarz-card
            [targetId]="postId">

            </app-add-komentarz-card>
          </div>
      </div>
      <!--Komentarze-->
      <div class="row d-flex justify-content-center">
          <div class="col-auto col-md-12 col-lg-12 col-xl-12">
              <div class="card" style="background: var(--bs-secondary);">
                  <div class="card-body p-4">
                      <h4 class="text-center mb-4 pb-2">Komentarze</h4>
                      <div class="row">
                          <div class="col">
                            <ng-container *ngFor="let komentarz of post?.komentarze">
                              <app-komentarz-card [komentarz]="komentarz" [depth]="0"></app-komentarz-card>
                            </ng-container>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div><!-- End: Komentarze -->
</section>
