<div class="container mt-5">
  <h1 class="text-center text-primary">Nazwa Ogrodu</h1>
  <app-error-msg [errorMsg]="errorMsg"></app-error-msg>
  <div class="d-flex overflow-auto mt-4">
    <div
    *ngFor="let dzialka of ogrodResponse?.dzialki"

    class="card bg-secondary">
      <div class="card-body">
        <h5 class="card-title">{{ dzialka.nazwa }}</h5>
        <h5 class="card-title">Nr: {{ dzialka.numer }}</h5>
        <p class="card-text">Liczba roślin: {{ dzialka.liczbaRoslin }}</p>
        <button (click)="goToDzialkaPage(dzialka?.numer)" class="btn btn-primary">Zobacz</button>
      </div>
    </div>
  </div>
</div>
