<div class="container mt-5">

  <app-rename-icon
  [nazwa]="ogrodResponse.nazwa"
  [zmieniany]="RenameIconModes.OGROD"
  (nazwaEdit)="onNazwaEdit($event)">
  </app-rename-icon>

  <app-error-msg [errorMsg]="errorMsg"></app-error-msg>
  <div class="d-flex overflow-auto mt-4 mb-2">

    <div
    *ngFor="let dzialka of ogrodResponse?.dzialki"
    class="card bg-secondary">
      <div class="card-body">
        <h5 class="card-title limit-to-3-lines">{{ dzialka.nazwa }}</h5>
        <h5 class="card-title">Nr: {{ dzialka.numer }}</h5>
        <p class="card-text">Liczba roślin: {{ dzialka.liczbaRoslin }}</p>
        <a  [routerLink]="['dzialka', dzialka.numer]"  class="btn btn-primary">Zobacz</a>
      </div>
    </div>
  </div>
  <div class="">
    <h3 class="text-center text-primary">Rośliny użytkownika</h3>
    <a [routerLink]="['rosliny']"  class="btn btn-primary">Zobacz</a>

  </div>
</div>
