  <!-- Start: Navbar Centered Links -->
  <nav class="navbar navbar-expand-md py-3" style="background: var(--bs-secondary);">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center  text-center" [routerLink]="['']">
        <img class="d-flex justify-content-center align-items-center me-2 filter" src="ico.svg" alt="a" width="48" height="48" style="background: var(--bs-primary);border-radius: 5px;">
        <h3 class="pt-2 text-white">Wirtualny ogród Yukka</h3>
      </a>

      <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3">
        <span class="visually-hidden">Przełącz nawigację</span>
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navcol-3">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a [routerLink]="'rosliny'" routerLinkActive="active" class="nav-link">Przeglądaj katalog</a></li>
                <li class="nav-item"><a [routerLink]="['ogrod', getUzytkownikNazwa()]" routerLinkActive="active" class="nav-link" >Mój ogród</a></li>
                <li class="nav-item"><a [routerLink]="'posty'" routerLinkActive="active" class="nav-link" >Społeczność</a></li>

              </ul>
              <button class="nav-item btn btn-primary"><a (click)="testReferenceErrors()"  >TEST</a></button>
            <ng-template #loggedOut>
              <a  [routerLink]="'login'" class="btn btn-secondary" type="button" style="background: var(--bs-primary);border-color: var(--bs-primary);">Zaloguj się</a>
            </ng-template>

            <ng-container *ngIf="isLogged(); else loggedOut">
              <div class="hstack nav-item" ngbDropdown>
                <app-powiadomienia-dropdown></app-powiadomienia-dropdown>

                <button class="btn btn-primary dropdown-toggle d-flex align-items-center" ngbDropdownToggle
                type="button"

                id="navbarLeDropdown">
                  <img [src]="getUzytAvatar()"  class="rounded-circle me-2" alt="ico.svg" width="30" height="30">
                  <span>{{ getUzytkownikNazwa()}}</span>
                </button>

                <div class="bg-primary" ngbDropdownMenu aria-labelledby="navbarLeDropdown">
                  <button ngbDropdownItem (click)="goToProfil()" class="text-black">
                    <span><i class="fas fa-house"></i>&nbsp;Profil</span>
                  </button>
                  <button ngbDropdownItem (click)="goToRozmowy()" class="text-black">
                    <span><i class="fa-solid fa-envelope"></i>&nbsp;Wiadomości prywatne</span>
                  </button>
                  <button ngbDropdownItem (click)="goToUstawienia()" class="text-black">
                    <span><i class="fa-solid fa-gear"></i>&nbsp;Ustawienia</span>
                  </button>
                  <button ngbDropdownItem (click)="goToPosty()" class="text-black">
                    <span><i class="fa-solid fa-signs-post"></i>&nbsp;Moje posty</span>
                  </button>
                  <button ngbDropdownItem (click)="goToKomentarze()" class="text-black">
                    <span><i class="fa-solid fa-comment"></i>&nbsp;Moje komentarze</span>
                  </button>
                  <button ngbDropdownItem (click)="logout()" class="text-black">
                    <span><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;Wyloguj się</span>
                  </button>
                </div>
              </div>
            </ng-container>

        </div>





    </div>


</nav>
<!-- End: Navbar Centered Links -->
