<div class="d-flex flex-column mt-1" [style.marginLeft.px]="setStartMargin() * 15">
  <div class="flex-grow-1 flex-shrink-1">
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
      <p *ngFor="let msg of errorMsg">{{ msg }}</p>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="d-flex">
        <img (click)="goToProfil()"
            [src]="getKomentarzAvatar()" class="komentarz-avatar" alt="avatar"
            width="50" height="50">
        <div>
          <span class="fw-medium mb-0">{{komentarz.uzytkownikNazwa}}

            <ng-container *ngIf="komentarz.edytowany">
              <span class="komentarz-date">&nbsp; (edytowany)</span>
            </ng-container>
          </span>
          <div class="text-muted">
            <i class="fas fa-clock me-1"></i>
            <span>{{komentarz.dataUtworzenia}}</span>
          </div>

        </div>
      </div>
    </div>
    <ng-container *ngIf="komentarz.odpowiadaKomentarzowi">
        <a class="komentarz-option text-info">{{ komentarz.odpowiadaKomentarzowi.uzytkownikNazwa  }}:</a>
    </ng-container>
    <ng-container *ngIf="!isEditing">
      <p class="text-break small">{{ komentarz.opis }}</p>
      <div class="bg-secondary" >
        <div *ngIf="komentarz.obraz">
          <img
            class="rounded img-fluid mb-3"
            [alt]="'Obraz komentarz'"
            [src]="getKomentarzObraz()"
            style="max-width: 100%; height: auto; max-height: 250px;"
            loading="lazy">
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isEditing">
      <textarea [(ngModel)]="editedOpis" class="form-control text-black" rows="3"></textarea>
      <div *ngIf="komentarz.obraz">
        <img
          class="rounded img-fluid mb-3"
          [alt]="'Obraz komentarz'"
          [src]="getKomentarzObraz()"
          style="max-width: 100%; height: auto; max-height: 250px;"
          loading="lazy">
      </div>
      <div class="hstack gap-2 mt-2">
        <button (click)="confirmEditing()" class="btn btn-success">POTWIERDŹ</button>
        <button (click)="cancelEditing()" class="btn btn-secondary">ANULUJ</button>
      </div>
    </ng-container>
    <div class="hstack justify-content-between p-1 komentarz-border">
        <div class="hstack gap-3">
          <a (click)="addOcenaToKomentarz(komentarz.uuid, true)"
              class="komentarz-option justify-content-center">
            <i class="fas fa-thumbs-up text-primary"></i><span>&nbsp;{{ komentarz.ocenyLubi }}</span>
          </a>
          <a (click)="addOcenaToKomentarz(komentarz.uuid, false)"
              class="komentarz-option">
            <i class="fas fa-thumbs-down text-danger"></i>&nbsp;{{ komentarz.ocenyNieLubi }}
          </a>
          <a (click)="toggleReplying()" class="komentarz-option">
            <i class="fas fa-reply fa-xs"></i>
            <span class="small">&nbsp;Odpisz</span>
          </a>
          <ng-container *ngIf="canEdit">
            <button (click)="startEditing()" class="btn btn-warning" type="button"  placement="bottom" ngbTooltip="Edytuj">
              <i class="fas fa-edit"></i>
            </button>


          </ng-container>

          <ng-container *ngIf="canDelete">
            <button (click)="deleteKomentarz()" class="btn btn-danger" type="button"  placement="bottom" ngbTooltip="Usuń">
              <i class="fas fa-trash"></i>
            </button>
          </ng-container>
          

          <app-zgloszenie-button
          [typPowiadomienia]="typPowiadomienia.ZGLOSZENIE_KOMENTARZ"
          [zglaszany]="komentarz.uzytkownikNazwa"
          [odnosnik]="getPostUuidFromPage()">
          </app-zgloszenie-button>

        </div>
        <ng-container *ngIf="komentarz.odpowiedzi && komentarz.odpowiedzi.length > 0">
          <a class="komentarz-option ms-1" (click)="toggleOdpowiedzi()">
            <i class="fas fa-chevron-down fa-xs" *ngIf="!showOdpowiedzi"></i>
            <i class="fas fa-chevron-up fa-xs" *ngIf="showOdpowiedzi"></i>
            <span class="small">&nbsp;{{ showOdpowiedzi ? 'Zwiń' : 'Rozwiń' }} odpowiedzi</span>
          </a>
        </ng-container>
    </div>

    <!-- Add Komentarz Card for replying -->
    <div *ngIf="isReplying">
      <app-add-komentarz-card
        [targetId]="komentarz.uuid"
        [typ]="TypKomentarza.ODPOWIEDZ"
        (onCancelOdpowiedz)="cancelOdpowiedz()">
      </app-add-komentarz-card>
    </div>

    <!-- Rekursywne odpowiedzi  -->
    <div *ngIf="showOdpowiedzi">
      <div *ngFor="let odpowiedz of komentarz.odpowiedzi">
        <app-komentarz-card [komentarz]="odpowiedz" [depth]="depth + 1"></app-komentarz-card>
      </div>
    </div>
  </div>

</div>
