
<section>
  <!-- Start: Articles Cards -->
  <div class="container p-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h3 class="text-uppercase text-primary">TWÓJ WŁASNY WIRTUALNY OGRÓD</h3>
            <p class="w-lg-50 text-primary">Stwórz swój własny ogród z roślinami wybranymi z katalogu, albo stwórz własną roślinę</p><img class="img-fluid" alt="A field of sunflowers with a sky background" src="images/kot.png">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h3 class="text-uppercase text-primary">Dodaj zdjęcia swoich roślin</h3>
            <p class="w-lg-50 text-primary">Podziel się swoją pasją z innymi ogrodnikami!</p><img class="img-fluid" alt="A field of sunflowers with a sky background" src="images/kot.png">
        </div>
    </div>
    <div class="row gy-4 gy-md-0">
        <div class="col-md-6">
            <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"></div>
        </div>
        <div class="col-md-6 d-md-flex align-items-md-center">
            <div style="max-width: 350px;">
                <h2 class="text-uppercase fw-bold text-primary">Przeglądaj katalog</h2>
                <p class="text-primary my-3">Poznaj wiele gatunków roślin i jak je pielęgnować!</p><a class="btn btn-primary btn-lg me-2" role="button" href="#">Przejdź do katalogu</a>
            </div>
        </div>
    </div>
</div><!-- End: Articles Cards -->
</section>
