<button
(click)="open(content)"
class="btn btn-danger" type="button">
  Zgłoś &nbsp;<i class="fa-solid fa-flag" ></i>
</button>


<ng-template #content let-modal class="bg-secondary">
	<div class="modal-header bg-secondary">
      <h4 class="modal-title" id="modal-basic-title">Zgłaszanie użytkownika</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body bg-secondary" >
    <app-error-msg [errorMsg]="errorMsg" [message]="message"></app-error-msg>
		<form>
			<div class="mb-3">
				<label for="dateOfBirth">Podaj powód zgłoszenia</label>
				<div class="input-group">
					<input [(ngModel)]="request.opis"
          class="form-control text-black"
          name="opis" type="text" placeholder="Powód zgłoszenia"/>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer bg-secondary">
		<button type="button" class="btn btn-primary" (click)="zglosUzytkownika()">Wyślij</button>
	</div>
</ng-template>
