<div class="d-flex flex-column align-items-center">
  <img
    [src]="getUzytAvatar()"
    class="mb-2 mt-2  border border-3 border-success-subtle rounded-circle"
    width="150" height="150"
    style="border-width: 4px; border-color: var(--bs-primary-border-subtle);"
  >


<div class="list-group" aria-labelledby="dropdownMenuButton1" style="background: var(--bs-secondary);">
  <a (click)="goToEdycjaProfil()" class="list-group-item list-group-item-action btn-link">
    <span><i class="fas fa-house"></i>&nbsp;Profil</span>
  </a>
  <a (click)="goToPowiadomienia()"  class="list-group-item list-group-item-action btn-link">
    <span><i class="fas fa-bell"></i>&nbsp;Powiadomienia</span>
  </a>
  <a (click)="goToRozmowy()"  class="list-group-item list-group-item-action btn-link">
    <span><i class="fas fa-inbox"></i>&nbsp;Wiadomości prywatne</span>
  </a>
  <a (click)="goToUstawienia()" class="list-group-item list-group-item-action btn-link">
    <span><i class="fas fa-wrench"></i>&nbsp;Ustawienia konta</span>
  </a>
  <a (click)="goToEmailEdycja()" class="list-group-item list-group-item-action btn-link">
    <span><i class="fas fa-envelope"></i>&nbsp;Zmień adres email</span>
  </a>
  <a (click)="goToAvatarEdycja()"   class="list-group-item list-group-item-action btn-link">
    <span><i class="fas fa-smile"></i>&nbsp;Zmień avatar</span>
  </a>
  <a (click)="goToUsunKonto()" class="list-group-item list-group-item-action btn-link">
    <span><i class="fas fa-user-slash"></i>&nbsp;Usuń konto</span>
  </a>
</div>
</div>
