
.tileSet {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: 5px;

  width: max-content;
  margin: auto;
  padding: 10px;
}

.tile {
  width: 32px;
  height: 32px;
  background-color: #ccc;

}


.le-kontener {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Wysokość kontenera */
  overflow: auto; /* Pozwala na przewijanie */
  background-color:chocolate;
}
