
    <section class="mx-1 mt-3" style="--bs-body-bg: rgba(255,255,255,0);">
        <!-- Start: 1 Row 2 Columns -->
        <div class="container" style="max-width: 800px;">
            <div class="row gx-3 gy-3 justify-content-center align-items-start">
              <div class="col-lg-3 d-flex justify-content-sm-center flex-column">
                <app-edycja-nav></app-edycja-nav>
              </div>
                <div class="col">
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto col-md-12 col-lg-12 col-xl-12">
                            <div class="card" style="background: var(--bs-secondary);">
                                <div class="card-body p-4">
                                    <div class="row">
                                        <div class="col d-flex justify-content-center">
                                          <img [src]="getAvatar()" height="75" width="75" class="align-self-center mb-2 img-thumbnail mr-3 rounded-circle border-0" width="100" styl="">
                                        </div>
                                    </div>
                                    <h4 class="text-center mb-4 pb-2">Rozmowa prywatna z {{ rozmowaUzyt.nazwa }}</h4>
                                    <div class="hstack gap-2 justify-content-center mb-2">
                                      <ng-container *ngIf="!zablokowany; else odblokuj" >
                                        <button (click)="zablokujUzyt()" class="btn btn-danger" type="button">
                                          Zablokuj &nbsp;<i class="fa-solid fa-user-slash" ></i>
                                        </button>
                                      </ng-container>
                                      <ng-template #odblokuj>
                                        <button (click)="odblokujUzyt()" class="btn btn-danger" type="button">
                                          Odblokuj &nbsp;<i class="fa-solid fa-user-slash" ></i>
                                        </button>
                                      </ng-template>
                                      <app-zgloszenie-button
                                      [zglaszany]="rozmowaUzyt.nazwa">
                                      </app-zgloszenie-button>
                                    </div>
                                    <div class="row search-results rozmowa-divus scroll-container" #scrollus>
                                        <div class="col">
                                          <ng-container *ngIf="wiadomoscCount && wiadomoscCount > 0; else brakWiadomosci">
                                            <app-wiadomosc-card
                                                *ngFor="let wiad of rozmowa.komentarze"
                                                [wiadomosc]="wiad"
                                                (onRemove)="handleRemove($event)">
                                            </app-wiadomosc-card>
                                          </ng-container>
                                          <ng-template #brakWiadomosci>
                                              <ng-container *ngIf="rozmowa.aktywna else zaproszony">
                                                <h5 class="text-center p-5">brak wiadomości</h5>
                                              </ng-container>
                                              <ng-template #zaproszony>
                                                <h5 class="text-center p-5">Nie zaakceptowano jeszcze zaproszenia</h5>
                                              </ng-template>
                                          </ng-template>
                                        </div>
                                    </div>
                                    <div *ngIf="zablokowany" class="alert alert-danger text-center mt-3">
                                      Użytkownik jest zablokowany. Nie możesz wysyłać wiadomości.
                                    </div>
                                    <div *ngIf="blokujacy" class="alert alert-warning text-center mt-3">
                                      Użytkownik Cię blokuje. Nie możesz wysyłać wiadomości.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center my-3">
                        <div class="col col-auto col-12">
                          <ng-container *ngIf="rozmowa.aktywna  && !zablokowany && !blokujacy">
                            <app-add-komentarz-card
                                [targetId]="odbiorcaNazwa"
                                [typ]="TypKomentarza.WIADOMOSC"
                                (onNewMessage)="handleNewMessage($event)">
                            </app-add-komentarz-card>
                          </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End: 1 Row 2 Columns -->
    </section>
