<div class="container">

  <!-- cdkDropList cdkScrollable -->
  <div class="row mb-5 pt-1">
    <div class="">
        <h3 class="text-uppercase text-primary">Jakaś nazwa działki </h3>

        <img src="assets/tiles/dirt.png" class="img-fluid" alt="Responsive image">

        <div>
          <h3 class="text-primary">Dawaj zooma kurde</h3>
          <app-scale-slider
          [(scale)]="scale"
          [disabled]="isSaving"
          (scaleChange)="onScaleChange($event)">
          </app-scale-slider>

        </div>
        <div class="toolbar">
          <button (click)="setMode('pan')" [class.active]="mode === 'pan'">
            <i class="fa-solid fa-lg fa-hand"></i>
          </button>
          <button (click)="setMode('select')" [class.active]="mode === 'select'">
            <i class="fa-solid fa-lg fa-arrows"></i>
          </button>
          <button (click)="saveCanvasAsImage()">
            <i class="fa-solid fa-lg fa-save"></i>
          </button>
        </div>


        <div  #canvasContainer class="canvas-container border border-3 border-success-subtle "
        (mousedown)="onMouseDown($event)"
        >
          <canvas #canvasElement [width]="canvasWidth" [height]="canvasWidth"></canvas>
          <div id="overlay" #overlayBoi>
            <div *ngFor="let tile of tiles"
            [ngStyle]="{
              'left.px': tile.x * tileSize,
              'top.px': tile.y * tileSize,
              'background-color': getRgbaColor(tile.backgroundColor)
            }"
            [attr.data-x]="tile.x"
            [attr.data-y]="tile.y"
            (click)="tile.clickable ? onTileClick(tile) : null"
            (mouseover)="onTileHover(tile, true)"
            (mouseout)="onTileHover(tile, false)"
            class="tile-overlay">
              <app-lulek *ngIf="tile.roslina" [roslina]="tile.roslina ? tile.roslina : {}"></app-lulek>
            </div>
          </div>
          <!--

          <div class="tileSet" #tileSet>
            <div class="tile" *ngFor="let tile of tiles"
            [ngStyle]="{'background-image': 'url(' + tile.image + ')', 'background-color': tile.backgroundColor}"
            [class.clickable]="tile.clickable"
            (click)="tile.clickable ? onTileClick(tile) : null"
            >
              <app-lulek *ngIf="tile.roslina"
              [roslina]="tile.roslina ? tile.roslina : {}"
              >
              </app-lulek>
            </div>
          </div>    -->

        </div>
    </div>
  </div>
</div>



