<div class="add-roslina-page py-5" >
  <app-breadcrumb></app-breadcrumb>
  <div class="card bg-secondary" >
    <div class="card-header">
      <h4 class="card-title">Edytuj roślinę</h4>
      <div class="alert alert-success" role="alert" *ngIf="message && !errorMsg.length">
        {{ message }}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
        <p *ngFor="let msg of errorMsg">{{ msg }}</p>
      </div>
    </div>
    <div class="card-body">
      <form (ngSubmit)="updateRoslina()" class="my-2">
        <div>
          <label class="form-label">Nazwa:</label>
          <input [(ngModel)]="request.nazwa"
          class="mb-2 form-control" name="nazwa" placeholder="nazwa" required />
        </div>
        <div>
          <label class="form-label">Nazwa Łacińska:</label>
          <input
          [(ngModel)]="request.nazwaLacinska"
          class="mb-2 form-control" name="nazwaLacinska" placeholder="nazwa łacińska" />
        </div>
        <div>
          <label class="form-label">Opis:</label>
          <textarea [(ngModel)]="request.opis"
          class="mb-2 form-control" name="opis" placeholder="opis"></textarea>
        </div>
        <div class="my-2">
          <app-wysokosc-input
          [wysokoscMin]="request.wysokoscMin"
          [wysokoscMax]="request.wysokoscMax"
          [textColor]="'white'"
          (wysokoscMinChange)="onWysokoscMinChange($event)"
          (wysokoscMaxChange)="onWysokoscMaxChange($event)"
          >
          </app-wysokosc-input>
        </div>
        <div class="mb-3">
          <app-add-custom-cecha
          [cechyResponse]="cechyResponse"
          (customCechaAdded)="onCustomCechaAdded($event)">
        </app-add-custom-cecha>
        </div>
        <div>
          <label for="cechy">Cechy:</label>
          <div *ngIf="request.cechy.length > 0; else noCechy">
            <app-cecha-tag
              [cechy]="request.cechy"
              (cechaRemoved)="onCechaRemoved($event)">
            </app-cecha-tag>
          </div>
          <ng-template #noCechy>
            <p>Nie wybrano żadnych cech.</p>
          </ng-template>
          <div class="row mb-1">
            <div class="col-md-4" *ngFor="let cecha of cechyResponse">
              <app-cecha-dropdown class="text-white"
                [cechyResponse]="[cecha]"
                [textColor]="'white'"
                [(selectedCechy)]="request.cechy"
                (selectedCechyChange)="onCechaToggled($event)">
              </app-cecha-dropdown>
            </div>
          </div>
        </div>
        <button class="btn btn-primary text-uppercase" type="submit">Zaktualizuj roślinę</button>
      </form>
    </div>
  </div>
</div>
