
.col-md-3 {
  background: var(--bs-primary-border-subtle);
}

.offcanvas-body {
  padding: 2rem;
  border-radius: 0.25rem;
}

.nav-item .dropdown-menu {
  background: transparent;
  border: 0;
  position: relative;
}

.dropdown-item {
  white-space: normal;
}

.dropdown-item .form-check-input {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.dropdown-item .form-check-input,
.dropdown-item .form-label {
  width: 100%;
  box-sizing: border-box;
}

.vstack .form-label {
  color: #000;
}

/*
wysokość slider
*/

