<section class=" " style="--bs-body-bg: rgba(255, 255, 255, 0);">
  <div
    class="container w-100 py-3 my-3"
    style="background: transparent; border-radius: 5px; max-width: 800px;"
  >
    <app-social-nav></app-social-nav>
    <app-search [searchText]="searchText" (searchEvent)="onSearch($event)">
    </app-search>
  </div>

  <!-- Start: Napisz post -->
  <div
    class="container w-100 py-3 my-3"
    style="background: transparent; border-radius: 5px; max-width: 800px;"
  >
    <div class="row">
      <div class="col">
        <app-add-post-card></app-add-post-card>
      </div>
    </div>
  </div>
  <!-- End: Napisz post -->

  <div
    class="container w-100 search-results"
    style="background: transparent; border-radius: 5px; max-width: 800px;"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()"
    *ngIf="postResponse"
  >
    <app-post-card *ngFor="let post of postResponse?.content" [post]="post">
    </app-post-card>

    <app-loading [isLoading]="isLoading"></app-loading>
  </div>
</section>
