


<div class="card" style="background: var(--bs-secondary);">
  <div class="card-header">
    <h4 class="card-title">Dodaj post</h4>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
      <p *ngFor="let msg of errorMsg">{{ msg }}</p>
    </div>
  </div>
  <div class="card-body">
    <form class="my-2">
      <div class="mb-3">
        <label class="form-label sr-only" for="message" value="Upload image">Postuj coś</label>
          <input [(ngModel)]="request.tytul" name="tytul" class="bg-light mb-2 form-control text-black" placeholder="Tytuł posta(wymagane)"/>
          <textarea [(ngModel)]="request.opis" id="message" name="opis" class="bg-light form-control" rows="3"
          placeholder="Opis" minlength="1" required maxlength="300"
          style="--bs-body-color: #000000;"></textarea>
      </div>
      <div class="mb-3" data-mdb-ripple-init class="">
        <label class="form-label text-white m-1" for="inputObraz">
          <i class="fas fa-camera"></i>
          <span>&nbsp;Dołącz obraz</span>
        </label>
        <input  #fileInput (change)="onFileSelected($event)"
          class="form-control d-none"
          id="inputObraz"
          type="file"
          accept="image/*"
          />
      </div>
      <div class="position-relative d-inline-block" *ngIf="wybranyObraz">
        <img class="rounded-1 img-fluid" [src]="wybranyObraz"
        style="max-width: 100%; height: auto; max-height: 250px;">
        <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2" (click)="clearImage()">X</button>
      </div>
    </form>

    <div class="btn-toolbar justify-content-between">
      <div class="btn-group" role="group">
        <button (click)="addPost()" class="btn btn-primary text-uppercase" type="submit">Postuj</button>
      </div>
      <div class="btn-group" role="group">
        <div class="dropdown btn-group dropdown-menu-right" role="group" aria-labelledby="btnGroupDrop1">
          <button
            class="btn dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
            <i class="fas fa-globe-americas"></i>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">First Item</a>
            <a class="dropdown-item" href="#">Second Item</a>
            <a class="dropdown-item" href="#">Third Item</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
