<div class="d-flex d-sm-block align-items-center p-2">
<ul class="list-inline text-start">

  <li *ngFor="let wlasciwosc of sortedWlasciwosci" class="list-inline-item bg-primary border-2 border-primary d-inline-flex align-items-center align-content-center p-2 border rounded my-1">
    <span class="me-1 fw-semibold">{{ wlasciwosc.etykieta }}:</span>
    <span>{{ wlasciwosc.nazwa }}</span>
    <i (click)="removeWlasciwosc(wlasciwosc)" class="btn btn-sm btn-primary fas fa-times fs-5 ms-2" style="color: currentColor;"></i>
  </li>
</ul>
</div>
