

:host {
  /*display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; for debugging purposes
  right: 0;*/
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100vh;
  display: block;
  border: solid 3px yellow; /* for debugging purposes */
}

/*
.body {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}
  */
