<ul class="nav nav-pills flex-column text-truncate mb-auto">
  <li class="nav-item my-1 w-100">
    <div class="nav-item dropdown show">
      <button
        class="btn dropdown-toggle text-uppercase link-dark w-100"
        aria-expanded="true" data-bs-toggle="dropdown"
        data-bs-auto-close="false" type="button"
        data-bs-display="static">
        Wysokość
      </button>
      <div class="dropdown-menu show w-100" data-bs-popper="none">
        <div class="vstack">
          <label class="form-label">Min. wysokość: {{ wysokoscMin }}</label>
          <input (ngModelChange)="onWysokoscMinChange()" [(ngModel)]="wysokoscMin" class="form-range" type="range" >

          <label class="form-label">Max. Wysokość: {{ wysokoscMax }}</label>
          <input (ngModelChange)="onWysokoscMaxChange()" [(ngModel)]="wysokoscMax" class="form-range" type="range" >
        </div>
      </div>
    </div>
  </li>


  <li *ngFor="let wlasciwosc of wlasciwosciResponse" class="nav-item my-1 w-100">
    <div class="nav-item dropdown">
      <button
        class="btn dropdown-toggle text-uppercase link-dark w-100"
        aria-expanded="false" data-bs-toggle="dropdown"
        data-bs-auto-close="false" type="button"
        data-bs-display="static">{{ wlasciwosc.etykieta }}</button>
      <div class="dropdown-menu">
        <a *ngFor="let nazwa of wlasciwosc.nazwy" class="dropdown-item link-dark">
          <input [checked]="isSelected(wlasciwosc, nazwa)"
           type="checkbox" class="form-check-input mx-1"
           (change)="toggleWlasciwosc(wlasciwosc, nazwa)">{{ nazwa }}</a>
      </div>
    </div>
  </li>
</ul>

