


<div class="card bg-secondary">
  <div class="card-header">
    <h4 class="card-title">Dodaj post</h4>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
      <p *ngFor="let msg of errorMsg">{{ msg }}</p>
    </div>
  </div>
  <div class="card-body">
    <form class="my-2">
      <div class="mb-3">
        <label class="form-label sr-only" for="message" value="Upload image">Postuj coś</label>
          <input [(ngModel)]="request.tytul" name="tytul" class="bg-light mb-2 form-control text-black" placeholder="Tytuł posta(wymagane)"/>
          <textarea [(ngModel)]="request.opis" id="message" name="opis" class="bg-light form-control" rows="3"
          placeholder="Opis" minlength="1" required maxlength="300"
          style="--bs-body-color: #000000;"></textarea>
      </div>
      <app-image-upload
        (fileSelected)="onFileSelected($event)"
        (clearImageEvent)="clearImage()">
      </app-image-upload>
    </form>

    <div class="btn-toolbar justify-content-between">
      <div class="btn-group" role="group">
        <button (click)="addPost()" class="btn btn-primary text-uppercase" type="submit">Postuj</button>
      </div>

    </div>
  </div>
</div>
